/adminer/adminer.css
/adminer/adminer-dark.css
/editor/adminer.css
/editor/adminer-dark.css
/adminer*.php
/editor*.php
/tests/pdo-*.html
/tests/screenshots/
/tests/cropped/
vendor/
adminer-plugins/
adminer-plugins.php

.env

# Google Cloud credentials
**/google_credentials.json
**/google_credential.json
**/*_credentials.json

# E2E Test outputs
container/e2e/playwright-report/
container/e2e/test-results/
container/e2e/playwright-report/
**/node_modules/

google_credentials.json

# Playwright MCP outputs
.playwright-mcp/
